$color: red;

.container {
    margin: 0 20px;
}

.home, .hello {
    ul li a {
        color: $color;
    }
}

.hello {
    ul li a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

